a{
    text-decoration: none;
    color: black;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
    width: 80%;
    height: 100px;
    
}
.logo_container{
    flex: 1;
    display: flex;
    align-items: center;
    height: 100px;
}

.logo{
    width: auto;
    height: 90%;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);

}

.navebar{
    flex: 3;
    
} 
.items{
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style-type: none ;
    align-items: center;
    justify-content: end;
    padding-top: 10px;
    
}

.items li{
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.items li :hover{
    color: rgb(29, 167, 231);
    
}

@media(max-width:768px){

    .logo{
        height: 70%;
        margin-left: 50px;
    }
    .header{
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
    .navebar{
        flex: 1;
        margin-right: 50px;
    }
    .items{
        gap: 30px;
        padding-top: 0px;
    }
}
    